<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<nav>
		<h1><a href="/posts">Gregs-List</a></h1>
		<ul>
			<li class="create">
				<a href="/posts/new">Create Post</a>
			</li>
		</ul>
		<ul class="log">
			<li class="log">
				<!-- want to add a link to the user that is logged -->
				<a href="">Account</a>
			</li>
			<li class="log">
				<a href="/users/login">Login</a>
			</li>
			<li class="log">
				<a href="/users/logout">Logout</a>
			</li>
		</ul>
	</nav>