<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<nav>
		<h1><a href="/posts">Gregs-List</a></h1>
		<ul>
			<li class="createB">
				<a href="/posts/new">Create Post</a>
			</li>
		</ul>
		<ul class="loginB">
			<%if(session.loggedIn){ %>
				<li class="loginB">
					<a href="/users/<%=session.userId%>"><%=session.name%></a>
				</li>
				<li class="loginB">
					<a href="/users/logout">Logout</a>
				</li>
			<%}else{%>
				<li class="loginB">
					<a href="/users/login">Login</a>
				</li>
			<%}%>
		</ul>
	</nav>