<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<nav>
		<h1>Gregs-List</h1>
		<ul>
			<li>
				<a href="/posts/new">Create Post</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="">Login</a>
			</li>
			<li>
				<a href="">Logout</a>
			</li>
		</ul>
	</nav>