
img {
	text-align: center;
	max-height: 70px;
	max-width: 70px;
	margin: 0 auto;
}
body {
  margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.spacer {
	flex: 1;
}

footer	{
	height: 90px;
	padding: 15px;

}

.footer {
	text-align: center;
	margin: 0 auto;
}

ul	{
	list-style: none;
}

input	{
	min-width: 320px;
	margin: 6px;
}

textarea {
	min-width: 320px;
	margin: 6px;
}

button {
	margin: 6px;
}

a {
	margin: 6px;
}

p {
	margin: 6px;
}

#column {
	min-width: 200px;
}

#header {
	padding: 5px 10px;
}
