<%- include ../partials/header.ejs %>



<form class="form m-3" action="/posts" method="POST">
	<h2>Create a Hire</h2>
	<input type="hidden" name="category" value="Hire">
	<input type="text" name="title" placeholder="Your Name" required><br>
	<textarea name="description" placeholder="description" required></textarea><br>
	<input type="text" name="email" placeholder="email" required><br>
	<button>Create Post</button>
</form>

<%- include ../partials/footer.ejs %>