<%- include ../partials/header.ejs %>

<h2>Create a Job Listing</h2>
<form class="form" action="/posts" method="POST">
	<input type="hidden" name="category" value="Job">
	<input type="text" name="title" placeholder="Position*" required><br>
	<textarea name="description" placeholder="description*" required></textarea><br>
	<input type="text" name="location" placeholder="company*" required><br>
	<input type="text" name="email" placeholder="email*" required><br>
	<button>Create Post</button>
</form>
<%- include ../partials/footer.ejs %>