<%- include ../partials/header.ejs %>

<h2>Create an Event</h2>

<form class="form" action="/posts" method="POST">
	<input type="hidden" name="category" value="Meet">
	<input type="text" name="title" placeholder="title" required><br>
	<textarea name="description" placeholder="description" required></textarea><br>
	<input type="text" name="location" placeholder="location" required><br>
	<input type="datetime-local" name="time" required><br>
	<button>Create Post</button>
</form>

<%- include ../partials/footer.ejs %>