<%- include ('../partials/header.ejs') %>

<form class="m-3" action="/users/<%=user.id%>?_method=DELETE" method="post" >
	<h4>Are you sure you want to delete this user account?</h4>
	<button>Confirm Deletion</button>
	<br>
	<br>
	<a href="/users/<%=user.id%>/edit">Back to EDIT</a>
</form>

<%- include ('../partials/footer.ejs') %>
