<%- include ../partials/header.ejs %>

<p class="text-danger"> <%= message %> </p>

<form class="new" action="/users/register" method="POST">
	<p>required*</p>
  <input type="email" name="email" placeholder="email*">
  <input type="text" name="phone" placeholder="phone number">
  <input type="text" name="linkedin" placeholder="linkedin">
  <input type="text" name="name" placeholder="username*">
  <input type="password" name="password" placeholder="password*">
  <button>Register</button>
</form>

<small>Already have an account? <a href="/users/login">Login here</a></small>

<%- include ../partials/footer.ejs %>