<%- include ../partials/header.ejs %>

<p class="text-danger"> <%= message %> </p>

<form class="form" action="/users/register" method="POST">
	<p>Account Info</p>
  <input type="text" name="name" placeholder="username" required><br>
  <input type="password" name="password" placeholder="password" required><br>
  <p>Contact Info</p>
  <input type="email" name="email" placeholder="email" required><br>
  <input type="text" name="phone" placeholder="phone number(optional)"><br>
  <input type="text" name="linkedin" placeholder="linkedIn Url(optional)"><br>
  <button>Register</button>
</form>

<p>Already have an account? <a href="/users/login">Login here</a></p>

<%- include ../partials/footer.ejs %>