<%- include ../partials/header.ejs %>

<h1>These People Are Attending</h1>
<ul>
	<% users.forEach((user) => { 
		if(user.id)%>
		<li>
			<a href="/users/<%=user._id%>"><%=user.name%></a>
		</li>
	<% }) %>
</ul>

<%- include ../partials/footer.ejs %>