<%- include ../partials/header.ejs %>

	<main>
		<ul>
			<%posts.forEach((post) => {%>
				<li>
					<a href="/posts/<%=post._id%>"><%=post.title%></a>
				</li>
			<%})%>
		</ul>
	</main>
<%- include ../partials/footer.ejs %>
