<%- include ../partials/header.ejs %>

	<main>
		<h2 class="category">Category</h2>
		<ul class="categoryList">
			<% posts.forEach((post) => { %>
				<li>
					<a href="/posts/<%=post._id%>"><%=post.title%></a>
				</li>
			<% }) %>
		</ul>
	</main>
<%- include ../partials/footer.ejs %>
