<%- include ../partials/header.ejs %>

<h2>Create a Posting</h2>
<main class="form">
	<h3>Choose a Category</h3>
	<a href="/posts/hire">Hire</a><br>
	<a href="/posts/meet">Meet-Up</a><br>
	<a href="/posts/job">Job Listing</a><br>
</main>

<%- include ../partials/footer.ejs %>