<%- include ../partials/header.ejs %>

<main class="m-5">
	<h2>Create a Posting</h2>
	<br>
	<br>
	<h5>Choose a Category</h5>
	<ul class="list-group list-group-flush bg-light">
	  	<li class="list-group-item"><a href="/posts/hire">Hire</a></li>
	  	<li class="list-group-item"><a href="/posts/meet">Meet-Up</a></li>
	  	<li class="list-group-item"><a href="/posts/job">Job Listing</a></li>
	</ul>
</main>

<%- include ../partials/footer.ejs %>